@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    width: 300px;
    height: 50%;
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    padding-top: 20px;
    color: white;
    font-size: 25px;
}

.title-description {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 20px;
    line-height: 25px;
    font-weight: lighter;
}

p {
    padding-bottom: 90px;
}

.button-sedans {
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
	cursor:pointer;
    border-radius: 30px;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.4s all;
}

.button-sedans:hover {
    cursor: pointer;
    background-color: hsl(31, 77%, 52%);
    color:hsl(0, 0%, 95%);
    border: solid hsl(0, 0%, 95%) 2px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    width: 300px;
    height: 50%;
    padding: 40px;
}

.button-suvs {
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
	cursor:pointer;
    border-radius: 30px;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.4s all;
}

.button-suvs:hover {
    cursor: pointer;
    background-color: hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%);
    border: solid hsl(0, 0%, 95%) 2px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    width: 300px;
    height: 50%;
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-luxury {
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
	cursor:pointer;
    border-radius: 30px;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.4s all;
}

.button-luxury:hover {
    cursor: pointer;
    background-color: hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%);
    border: solid hsl(0, 0%, 95%) 2px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 480px) {
    body {
        justify-content: center;
        padding-top: 40px;
    }
    
    main {
        display: inline;
    }

    .sedans {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        margin: auto;
        justify-content: center;
    }

    .suvs {
        margin: auto;
    }

    .luxury {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
        margin: auto;
    }

    .attribution {
        padding-top: 5px;
    }

}